<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>739423356391-09hdliht9ja5776d4devtfercrub1ipn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.739423356391-09hdliht9ja5776d4devtfercrub1ipn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>739423356391-blts79qcl2kh8ck93qvdl1v7sv40acv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAAN8iE6sY43F1y0EpRDNV7C1yzkeaznF0</string>
	<key>GCM_SENDER_ID</key>
	<string>739423356391</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vsignite.app</string>
	<key>PROJECT_ID</key>
	<string>vsignite-7765d</string>
	<key>STORAGE_BUCKET</key>
	<string>vsignite-7765d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:739423356391:ios:b09f3795781df2444ca942</string>
	<key>DATABASE_URL</key>
	<string>https://vsignite-7765d.firebaseio.com</string>
</dict>
</plist>
